body { background: #6a00ce; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 13px; display: flex; }
.block-sms-0 { color: #e37cdb; font-size: 14px; margin-bottom: 5px; }
.block-session-1 { color: #b70c31; font-size: 14px; margin-bottom: 5px; }
.block-metrics-2 { color: #d6931d; font-size: 18px; margin-bottom: 5px; }
.block-order-3 { color: #e18b83; font-size: 18px; margin-bottom: 5px; }
.block-uploader-4 { color: #6b8e61; font-size: 14px; margin-bottom: 5px; }
.block-session-5 { color: #a38ad1; font-size: 17px; margin-bottom: 5px; }
.block-shipping-6 { color: #60c5f9; font-size: 12px; margin-bottom: 5px; }
.block-database-7 { color: #7603fd; font-size: 16px; margin-bottom: 5px; }
.block-session-8 { color: #3c820b; font-size: 14px; margin-bottom: 5px; }
.block-payment-9 { color: #e3d6e2; font-size: 15px; margin-bottom: 5px; }
.block-database-10 { color: #2dc89d; font-size: 16px; margin-bottom: 5px; }